extends layout

block content
    script(type="text/javascript").
        $(document).ready(function(){
            $('.locpop').each(function () {
                var loc = $(this).data('coords');
                if (loc.indexOf(',') > 0)
                    $(this).popover({placement: 'right', content: '<img src="http://maps.googleapis.com/maps/api/staticmap?center=' + loc + '&amp;zoom=14&amp;size=250x300&amp;sensor=false">', html: true});
                else
                    $(this).popover({placement: 'top', content: 'Access to location was ' + loc});
            }); 
        });
    .jumbotron
        div(style="text-align: left")
              span(style="display-inline; font-size: 20px; margin-right: 10px") #{profUser.displayName}
        div(style="display: inline-block")
            div.row
                div.col-md-4(style="text-align: left")
                    img.img-thumbnail(width=100, height=100, src=profUser.img)
                    br
                    span Powered by 
                        a(href="http://gravatar.com", target="_blank") Gravatar

                div.col-md-8 
                    div.row.hl
                       div.col-md-4
                         p Email
                       div.col-md-8
                            p= profUser.email
                    div.row.hl
                       div.col-md-4
                         p Display Name
                       div.col-md-8
                           p= profUser.displayName
                    div.row.hl
                       div.col-md-4
                         p Last IP Address
                       div.col-md-8
                           p= profUser.loginIPs[profUser.loginIPs.length - 1]
                    div.row.hl
                       div.col-md-4
                         p Last Device
                       div.col-md-8
                           p= profUser.loginDevices[profUser.loginDevices.length - 1]
            div.row.hl
               div.col-md-4
                 p Favourite Pages
               div.col-md-8
                    table.table.table-striped
                        thead
                          tr
                            th(style='text-align: center') Page
                            th(style='text-align: center') Visits
                        tbody
                            mixin page(url, visits)
                                tr
                                    td
                                        a(href=url)= url
                                    td
                                        p= visits
                            for pg in favPages
                                +page(pg.page, pg.visits)
            div.row.hl
               div.col-md-4
                 p Logins
               div.col-md-8
                    table.table.table-striped
                        thead
                          tr
                            th(style='text-align: center') Date
                            th(style='text-align: center') Device
                            th(style='text-align: center') IP
                            th(style='text-align: center') Location
                        tbody
                            mixin login(date, device, ip, location)
                                tr
                                    td
                                        p= date
                                    td
                                        p= device
                                    td
                                        p= ip
                                    td
                                        a.locpop(href="#", rel='popover', data-coords=location, title="Login location") Click to show
                            - for (var x = 0; x < profUser.loginDates.length; x++)
                                +login(profUser.loginDates[x], profUser.loginDevices[x], profUser.loginIPs[x], profUser.loginLocations[x])                      
                    
       
               
              