extends header

block append extraHeader
    link(href='/stylesheets/sortable-theme-minimal.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css', rel='stylesheet')
    //script(src='/javascripts/sortable.min.js')
    script(src='https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
        
mixin server(title, map, gameMode, curr_players, max_players, ip, port)
    tr
        td
           a.colorless-link(href="/server/" + ip + "/" + port)=title
        td=map
        td=gameMode
        td(data-value=curr_players)=curr_players + '/' + max_players
        td=ip + ":" + port

//NOTE: ACTUAL CONTENTS WILL CHANGE.
block content
    if user
        .container
            h3.page-header Recomendations
            h4 Servers
            table.table#recomendations
    .container
        table#myTable.table.display
            thead
                tr
                    th Title
                    th Map
                    th Game Mode
                    th Players
                    th IP:Port 
            tfoot
                tr
                    th Title
                    th Map
                    th Game Mode
                    th Players
                    th IP:Port 
            tbody
                each server in servers
                    +server(server.title, server.map, server.gameMode, server.numPlayersOnline, server.maxPlayers, server.ip, server.port)
    
    
    script(type='text/javascript').
        $(document).ready(function(){
        $('#myTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );  
        
        var table = $('#myTable').DataTable();
        
        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
        
        $('#myTable tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });
        });
        
    if user
        script(type='text/javascript').
            $(document).ready(function(){
            //fill recommendation
            $.get('/server/recomendations', function(servers){
                console.log(servers);
                //if (servers.length == 0) return;

                content = "";

                content += "<thead><tr>";
                content += "<th>Rank</th><th> Title </th><th>Map</th><th>Game Mode</th><th>Players</th><th>IP:Port</th>";

                content += "</tr></thead>";

                content+= "<tbody>";
                for (i = 0; i < servers.length; i++){
                    content += "<tr>";
                    content += "<td>" + servers[i].rank + "</td>";
                    content += "<td><a class='colorless-link' href='/server/" + servers[i].server.ip + "/" + servers[i].server.port + "'>" + servers[i].server.title + "</a></td>";
                    content += "<td>" + servers[i].server.map + "</td>";
                    content += "<td>" + servers[i].server.gameMode + "</td>";
                    content += "<td>" + servers[i].server.numPlayersOnline + "/" + servers[i].server.maxPlayers + "</td>";
                    content += "<td>" + servers[i].server.ip + ":" + servers[i].server.port + "</td>";
                    content += "</tr>";
                }

                content+= "</tbody>";


                $('#recomendations').html(content);


                });});