extends header

block append extraHeader
    link(href='/stylesheets/server.css', rel='stylesheet')
    link(href='/stylesheets/sortable-theme-minimal.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css', rel='stylesheet')
    //script(src='/javascripts/sortable.min.js')
    script(src='https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
    
block content
    .container-fluid
      .row
          .col-md-6
            h1.page-header=server.title + ' (' + server.ip + ':' + server.port + ')'
          .col-md-4
            h2.page-header="Likes: " + server.likes.length
          .col-md-2
            a
                if (user && server.likes.indexOf(user._id) == -1)
                    h2.page-header 
                        a#like(href="/server/like/" + server._id) Like!
                else if (user)
                    h2.page-header Liked!
                else
                    
      if user && (user.type == "SAdmin" || user.type == "Admin")
        .row
            a(style="color: red" href="/server/delete/" + server._id)
                h4.page-header Delete
          //.col-md-3
            h1 things
      .row.placeholders
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
          h4=server.map
          span.text-muted Map
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
          h4=server.gameMode
          span.text-muted Game Mode
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
          h4=server.numPlayersOnline + "/" + server.maxPlayers
          span.text-muted Players Online
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
          h4=server.version
          span.text-muted Version
        .jumbotron
            .row.row-centered
              h4 Plugins
              each plugin in server.plugins
                span.text-muted=plugin + ", "
      if ((server.plugins.indexOf("DynMap") != -1) || (server.plugins.indexOf("Dynmap") != -1) || (server.plugins.indexOf("dynmap") != -1))
        h4 Dynamic Map
        iframe(src="http://" + server.ip+":8123" width="100%" height="500")
      if user
        .container
            h3.page-header Recomendations
            h4 Servers
            table.table#recomendations
      h2.sub-header Players Online
      .table-responsive.table.display
        table#PlayersOnline.table.table-striped
          thead
            tr
              th Name
          tbody
            each player in server.onlineplayers
                tr
                    th=player
                    
      h2.sub-header Players History
      .table-responsive.table.display
        table#PlayersHistory.table.table-striped
          thead
            tr
              th Name
              th Last Online
          tbody
            each player in server.playerHistory
                tr
                    th=player.name
                    th=player.lastOnline
                    
        script(type='text/javascript').
            function initTable(tableID){
            var table = $(tableID).DataTable();

            $(tableID + ' tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );  



            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
            }
            
            initTable("#PlayersHistory");
            initTable("#PlayersOnline");
            
     .container.jumbotron
        .row.row-centered
            if user   
                .col.col-centered
                    iframe#dummyFrame(width='0' height='0' border='0' name='dummyFrame' style="display: none;")
                    form#commentSubmission(action="/server/comment/add/" + server._id, method="post" target='dummyFrame')
                        .form-group
                            span.text-muted Write a Comment
                            textarea.form-control(type="text" name="text" style="width: 500px; height: 150px;")
                            button.btn.btn-primary(type='submit' onclick='setInterval(function(){ window.location.reload(); }, 500)') Comment
             h2.sub-header Comments
             br
             br
             .container
                #comments
          //
             .row.row-centered
                .col.col-md-8
                    p Name of Duder
                .col.col-md-4
                    p Date of Dude
             .row.row-centered
                p Text of comment
        
        if user
        script(type='text/javascript').
            $(document).ready(function(){
            //fill recommendation
            $.get('/server/recomendations', function(servers){
                console.log(servers);
                //if (servers.length == 0) return;

                content = "";

                content += "<thead><tr>";
                content += "<th>Rank</th><th> Title </th><th>Map</th><th>Game Mode</th><th>Players</th><th>IP:Port</th>";

                content += "</tr></thead>";

                content+= "<tbody>";
                for (i = 0; i < servers.length; i++){
                    content += "<tr>";
                    content += "<td>" + servers[i].rank + "</td>";
                    content += "<td><a class='colorless-link' href='/server/" + servers[i].server.ip + "/" + servers[i].server.port + "'>" + servers[i].server.title + "</a></td>";
                    content += "<td>" + servers[i].server.map + "</td>";
                    content += "<td>" + servers[i].server.gameMode + "</td>";
                    content += "<td>" + servers[i].server.numPlayersOnline + "/" + servers[i].server.maxPlayers + "</td>";
                    content += "<td>" + servers[i].server.ip + ":" + servers[i].server.port + "</td>";
                    content += "</tr>";
                }

                content+= "</tbody>";


                $('#recomendations').html(content);


                });});        

        script(type='text/javascript').
            function setUserInfo(imgID, nameID, userID, verified){
            
                $.get('/user/find/' + userID, function(user){
                console.log(user.result);
                   console.log("Got here");
                   console.log(imgID);
                    $(imgID).attr("src", user.img);
                    $(nameID).html(user.displayName + (verified ? ' (Verified)': ''));
                    });
            }
            $.get('/server/comment/list/' + "#{server._id}", function(results){
                var comments = $("#comments");
                for (i = 0; i < results.length; i++){
                    var contents = "";
                    contents += '<div class="row row-centered" style="background-color: white">';
                    
                    user = undefined;
                    
                    //Profile picture
                    contents += '<div class="col col-md-1">';
                    contents += '<img id="img' + i +'" src="" class="img-thumbnail" width=50, height=50>';
                    contents+= '</div>'   
                    
                    //Poster's name
                   contents += '<div class="col col-md-4" style="text-align: left">';
                   
                   contents += '<p class="p" id="usr' + i + '">';
                   contents += results[i].username ;
                   contents += '</p></div>';
                   
                   setUserInfo("#img" + i, "#usr" + i, results[i].poster, results[i].verified);
                   
                   //Date Posted
                   contents += '<div class="col col-md-7"><p class="p">';
                   contents += "Date Posted: " + results[i].date;
                   contents += '</p></div>';
                   
                   contents += '</div>';
                   
                   //Comment text
                   contents += '<div class="row row-centered">';
                   contents += '<div class "col col-md-10"><p>';
                   contents += results[i].text;
                   contents += '</p></div></div>';
                   
                   contents += '</div>';
                   contents+= '<br><br>';
                   
                   comments.append(contents);
                }
                
                });