extends header

block append extraHeader
    link(href='/stylesheets/server.css', rel='stylesheet')
    link(href='/stylesheets/sortable-theme-minimal.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css', rel='stylesheet')
    //script(src='/javascripts/sortable.min.js')
    script(src='https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
    
block content
    .container-fluid
      .row
        //.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h1.page-header=server.title + ' (' + server.ip + ':' + server.port + ')'
      .row.placeholders
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
          h4=server.map
          span.text-muted Map
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
          h4=server.gameMode
          span.text-muted Game Mode
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
          h4=server.numPlayersOnline + "/" + server.maxPlayers
          span.text-muted Players Online
        .col-xs-6.col-sm-3.placeholder
          //img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
          h4=server.version
          span.text-muted Version
        .jumbotron
            .row.row-centered
              h4 Plugins
              each plugin in server.plugins
                span.text-muted=plugin + ", "
      if ((server.plugins.indexOf("DynMap") != -1) || (server.plugins.indexOf("Dynmap") != -1) || (server.plugins.indexOf("dynmap") != -1))
        h4 Dynamic Map
        iframe(src="http://" + server.ip+":8123" width="100%" height="500")
      h2.sub-header Players Online
      .table-responsive.table.display
        table#PlayersOnline.table.table-striped
          thead
            tr
              th Name
          tbody
            each player in server.onlineplayers
                tr
                    th=player
                    
      h2.sub-header Players History
      .table-responsive.table.display
        table#PlayersHistory.table.table-striped
          thead
            tr
              th Name
              th Last Online
          tbody
            each player in server.playerHistory
                tr
                    th=player.name
                    th=player.lastOnline
                    
        script(type='text/javascript').
            function initTable(tableID){
            var table = $(tableID).DataTable();

            $(tableID + ' tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );  



            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );


            }
            
     .container.jumbotron
        .row.row-centered
            if user   
                .col.col-centered
                    iframe#dummyFrame(width='0' height='0' border='0' name='dummyFrame' style="display: none;")
                    form#commentSubmission(action="/server/comment/add/" + server._id, method="post" target='dummyFrame')
                        .form-group
                            span.text-muted Write a Comment
                            textarea.form-control(type="text" name="text" style="width: 500px; height: 150px;")
                            button.btn.btn-primary(type='submit' onclick='setInterval(function(){ window.location.reload(); }, 500)') Comment
             h2.sub-header Comments
             #comments
          //
             .row.row-centered
                .col.col-md-8
                    p Name of Duder
                .col.col-md-4
                    p Date of Dude
             .row.row-centered
                p Text of comment
        
                

        script(type='text/javascript').
            $.get('/server/comment/list/' + "#{server._id}", function(results){
                var comments = $("#comments");
                console.log(results);
                for (i = 0; i < results.length; i++){
                    var contents = "";
                    contents += '<div class="row row-centered">';
                    
                   contents += '<div class="col col-md-5">';
                   
                   if (results[i].verified)
                    contents += '<p color="green">';
                   else
                    contents += '<p>';
                   contents += results[i].username;
                   contents += '</p></div>';
                   
                   contents += '<div class="col col-md-7"><p>';
                   contents += "Date Posted: " + results[i].date;
                   contents += '</p></div>';
                   
                   contents += '<div class="row row-centered">';
                   contents += '<div class "col"><p>';
                   contents += results[i].text;
                   contents += '</p></div></div>';
                   
                   contents += '</div>';
                   
                   comments.append(contents);
                }
                
                });